<div class="modal-header">
    <h3 class="modal-title">新增国家</h3>
</div>
<div class="modal-body">
    <div class="layui-form layui-form-pane">
        <div class="input-group add-body-item-m-t">
            <div class="input-group-btn">
                <label class="btn add-body-label" disabled="">国家名称：</label>
            </div>
            <input type="text" class="form-control add-body-input" name="name_zh" lay-verify="required"
                   ng-model="country.name">
        </div>

        <div class="input-group add-body-item-m-t">
            <div class="input-group-btn">
                <label class="btn add-body-label" disabled="">对应国旗：</label>
            </div><!-- /btn-group -->
            <div>
                <img id="preview2" alt="" style="width: 111px;height: 80px;margin-bottom: 10px"
                     src="{{host}}{{country.img_url}}"/>
                <br>
                <input type="file" name="file" class="layui-upload-file" id="goodsTagImg">
            </div>
        </div>
    </div>

</div>
</form>
<div class="modal-footer model_footer_m_t">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="addOk()">确定</button>
</div>
