<div class="container w-xxl w-auto-xs" ng-controller="ExamCtrl">
  <a href class="navbar-brand block m-t">知识试题</a>
  <div class="m-b-lg">
    <form name="form" class="form-validation">
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="姓名" class="form-control no-border" ng-model="applyData.user_name" required>
        </div>
        <div class="list-group-item">
           <input type="number" placeholder="电话" class="form-control no-border" ng-model="applyData.user_phone" required>
        </div>
        <div class="list-group-item">
          <input type="number" placeholder="地址" class="form-control no-border" ng-model="applyData.user_area" required>
        </div>

      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="apply()" ng-disabled='form.$invalid'>开始答题</button>
      <div class="line line-dashed"></div>
    </form>
  </div>

</div>